/* These CSS styles all apply to the SVG elements defined below */
#clock {                          /* styles for everything in the clock */
   stroke: black;                 /* black lines */
   stroke-linecap: round;         /* with rounded ends */
   fill: #eef;                    /* on a light blue gray background */
}
#face { stroke-width: 3px;}       /* clock face outline */
#ticks { stroke-width: 2; }       /* lines that mark each hour */
#hourhand {stroke-width: 5px;}    /* wide hour hand */
#minutehand {stroke-width: 3px;}  /* narrow minute hand */
#numbers {                        /* how to draw the numbers */
    font-family: sans-serif; font-size: 7pt; font-weight: bold; 
    text-anchor: middle; stroke: none; fill: black;
}


/**
 * This is for IE or firefox
*/
/* A CSS stylesheet for the clock */
#clock2 {                        /* Style apply to element with id="clock" */
  font: bold 17pt sans;         /* Use a big bold font */
  /* font: bold 24pt sans;         /\* Use a big bold font *\/ */
  background: #ddf;             /* On a light bluish-gray background */
  /* padding: 10px;                /\* Surround it with some space *\/ */
  border: solid black 2px;      /* And a solid black border */
  border-radius: 10px;          /* Round the corners (where supported) */
}